<div class="books">

  <h1 class="u-margin-Bm">My books</h1>

  <% for book in @books do %>
    <div class="books__book">
      <h2><%=link_to h(book.title), book_path(book), class: "books__book-link" %></h2>
      <p><%= book.thoughts %></p>
    </div>
  <% end %>

  <div class="page-nav"> 
    <%= will_paginate @books %>
  </div>

  <% if current_admin %>
    <p>
      Admin actions: <%= link_to 'New Book', new_book_path %>
    </p>
  <% end %>
</div>