@import "variables";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: $space-xxlarge;
  background: $color-body-background;
}

h1, h2, h3 {
  font-family: $font-family-heading;
  margin: 0;
}

p, a {
  font-family: $font-family-base;
}

a {
  text-decoration: none;
  color: $color-link;
}

a:hover {
  text-decoration: underline;
}